.capacity {
 display: flex;   
 margin: 10px 20px;
 align-items: center;
 align-content: flex-start;
}

.transferspeed {
    margin: 10px 20px;
    display: flex;
    align-content: flex-start;
    align-items: center;
}

.transferspeed p {
    padding: 20px;
}

.calcButtonDiv {
    margin: 10px 20px;
}